.clockCompunent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.clockContainer {
    display: flex;
    border: 3px rgb(0, 0, 143) solid;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

p {
    font-size: 24px;
    color: rgb(0, 0, 143);
    font-weight: bold;
}

button {
    background-color: rgb(0, 0, 143);
    color: yellow;
    border: 2px solid yellow;
    border-radius: 4px;
    padding: 8px 16px;
}

button:hover {
    background-color: yellow;
    color: rgb(0, 0, 143);
    border: 2px solid rgb(0, 0, 143);
}